.screen {
  background: #f5f5f5;
  width: 50px;
  height: 90px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin: 10px;
}
.screen>.diode {
  background: #eee;
  width: 0;
  height: 0;
  position: absolute;
  transition: background-color 0.2s;
}
.screen>.diode.horizontal {
  width: 25px;
  height: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
.screen>.diode.horizontal::after,
.screen>.diode.horizontal::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  transition: border-color 0.2s;
}
.screen>.diode.horizontal::before {
  left: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #eee;
  border-bottom: 5px solid transparent;
}
.screen>.diode.horizontal::after {
  right: -5px;
  border-top: 5px solid transparent;
  border-left: 5px solid #eee;
  border-bottom: 5px solid transparent;
}
.screen>.diode.horizontal.top {
  top: 0;
}
.screen>.diode.horizontal.middle {
  top: 50%;
  bottom: 50%;
}
.screen>.diode.horizontal.bottom {
  bottom: 0;
}
.screen>.diode.vertical {
  width: 10px;
  height: 25px;
}
.screen>.diode.vertical::after,
.screen>.diode.vertical::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  transition: border-color 0.2s;
}
.screen>.diode.vertical::after {
  bottom: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #eee;
}
.screen>.diode.vertical::before {
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #eee;
}
.screen>.diode.vertical.top {
  top: 12.5px;
}
.screen>.diode.vertical.bottom {
  bottom: 12.5px;
}
.screen>.diode.vertical.left {
  left: 0;
}
.screen>.diode.vertical.right {
  right: 0;
}
.screen>.diode.active {
  background: #333;
}
.screen>.diode.active.horizontal::before {
  border-right-color: #333;
}
.screen>.diode.active.horizontal::after {
  border-left-color: #333;
}
.screen>.diode.active.vertical::after {
  border-top: 5px solid #333;
}
.screen>.diode.active.vertical::before {
  border-bottom: 5px solid #333;
}
.screen-colon {
  background: #f5f5f5;
  width: 50px;
  height: 90px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin: 10px;
  width: 25px;
}
.screen-colon::after {
  width: 10px;
  height: 10px;
  background: #333;
  position: absolute;
  border-radius: 2.5px;
  content: '';
  left: 0;
  right: 0;
  margin: auto;
  top: 30%;
}
.screen-colon::before {
  width: 10px;
  height: 10px;
  background: #333;
  position: absolute;
  border-radius: 2.5px;
  content: '';
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30%;
}
