.screen {
  background: #f2f2f2;
  width: 100px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
.screen>.diode {
  background: #333;
  width: 0;
  height: 0;
  position: absolute;
}
.screen>.diode.horizontal {
  width: 80px;
  height: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
.screen>.diode.horizontal::after,
.screen>.diode.horizontal::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
.screen>.diode.horizontal::before {
  left: 0;
  border-top: 5px solid #f2f2f2;
  border-right: 5px solid #333;
  border-bottom: 5px solid #f2f2f2;
}
.screen>.diode.horizontal::after {
  right: 0;
  border-top: 5px solid #f2f2f2;
  border-left: 5px solid #333;
  border-bottom: 5px solid #f2f2f2;
}
.screen>.diode.horizontal.top {
  top: 5px;
}
.screen>.diode.horizontal.middle {
  top: 50%;
  bottom: 50%;
}
.screen>.diode.horizontal.bottom {
  bottom: 5px;
}
.screen>.diode.vertical {
  width: 10px;
  height: 80px;
}
.screen>.diode.vertical::after,
.screen>.diode.vertical::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
.screen>.diode.vertical::after {
  bottom: 0;
  border-left: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
  border-top: 5px solid #333;
}
.screen>.diode.vertical::before {
  top: 0;
  border-left: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
  border-bottom: 5px solid #333;
}
.screen>.diode.vertical.top {
  top: 15px;
}
.screen>.diode.vertical.bottom {
  bottom: 15px;
}
.screen>.diode.vertical.left {
  left: 0;
}
.screen>.diode.vertical.right {
  right: 0;
}
.react-digiclock {
  background: #f2f2f2;
}
