screen-width=50px
screen-height=(screen-width * 2) - 10px

diode-short-side=10px
diode-corner-offset=((0 - diode-short-side)/2)
diode-long-side=(screen-height / 2) - 2*diode-short-side
diode-corner-size=(diode-short-side / 2)